body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.fruitsAttr {
  background-color: aquamarine;
  width: 120px;
  }
  
.fruitsForm {
  background-color: rgb(157, 127, 255);
  width: 300px;
}
h1{
  background-color: rgb(157, 127, 255);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif green;
}